{{ define "main" }}

<div>
	<video controls poster="mlrd-tech-demo-v0-poster.avif" style="width:100%;">
	<source src="mlrd-tech-demo-v1.mp4" type="video/mp4">
	<p>Your browser doesn't support HTML5 video. <a href="mlrd-tech-demo-v1.mp4">Download the video</a>.</p>
	</video>
</div>

<section class="hero">
	<div class="col intro">
		mlrd /* "mallard" */ is a DynamoDB-compatible API on MySQL that helps you...
	</div>
	<div class="col benefits">
		<ul>
		<li><a href="/save-money">Save money </a></li>
		<li><a href="/free-your-data">Free your data</a></li>
		<li><a href="/break-vendor-lock-in">Break vendor lock-in</a></li>
		</ul>
	</div>
</section>

<section class="bylines">
	No cache. No magic. Just MySQL and 26,000+ lines of human-written code.
</section>

<div class="cta">
	<h2>Join the Private Beta</h2>
	<p>mlrd is in private beta with early adopters.<br>If you'd like to join, click below and send&mdash;the email is prefilled.</p>
	<a href="mailto:early@mlrd.tech?subject=Join%20private%20beta&body=Let%27s%20talk%20about%20mlrd." class="cta-email">early@mlrd.tech</a>
</div>
{{ end }}
